
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>geo lat</th>
      <th>zipcode</th>
      <th>city</th>
      <th>street</th>
      <th>posts</th>
    </tr>
  </thead>
  <tbody class="card" *ngIf="user">
    <tr>
    <td>{{ user.name }}</td>
    <td> {{ user.email }}</td>
    <td> {{ user.address.geo.lat }}, {{ user.address.geo.lng }}</td>
    <td>{{ user.address.zitdcode }}</td>
    <td>{{ user.address.city }}</td>
    <td> {{ user.address.street }}</td>
    <button (click)="navigateToPosts()" class="button">View Posts</button>
  </tr>

  </tbody>
  
</table>

<router-outlet></router-outlet>